
section.catalog
	padding: 40px 0 100px
	background-color: $cream
	.wrapper
	h2
		text-align: center
	.cards
		display: flex
		justify-content: space-between
		margin: 30px -10px 0
		.card
			width: calc( 100% / 6 - 20px )
			margin: 0 10px
			padding: 28px 6px 6px
			text-align: center
			background-color: $w
			border-radius: 3px
			&:hover
				.picture img
					transform: translate(-50%, -50%) scale(1.15)
				p
					color: $green
			.picture
				height: 185px
				width: 100%
				position: relative
				img
					height: auto
					max-height: 100%
					width: auto
					max-width: 100%
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					transition: all 0.2s linear
			p
				margin-top: 30px
				text-align: center
				font-size: 18px
				font-weight: bold
				transition: all 0.2s linear
			&.all
				display: flex
				align-items: center
				justify-content: center
				padding: 10px
				p
					color: $green
section.action_goods
	margin-top: 85px
	.cards
		display: inline-flex
		justify-content: space-between
		margin: 48px -10px 0
		.card
			display: inline-flex
			flex-direction: column
			width: 20vw
			max-width: 295px
			margin: 0 20px
			padding: 10px 10px 20px 10px
			&:hover
				.picture > img
					transform: translate(-50%, -50%) scale(1.15)
			.picture
				height: 185px
				width: 100%
				position: relative
				display: flex
				justify-content: space-between
				align-items: flex-start
				> img
					height: auto
					// max-height: 100%
					width: auto
					max-width: 100%
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					transition: all 0.2s linear
				.tags
					width: max-content
					font-family: 'Open Sans', sans-serif
					color: $w
					position: relative
					> div
						font-size: 10px
						padding: 4px 8px
						border-radius: 40px
						white-space: nowrap
						width: max-content
						&.tags_discount
							background-color: $green
						&.tags_bestseller
							background-color: $b
						&:not(:first-child)
							margin-top: 4px
					svg
						width: 8px
						height: 8px
						fill: $w
						margin-right: 4px
				.options
					width: max-content
					font-family: 'Montserrat', sans-serif
					position: relative
					> div
						border-radius: 3px
						background-color: $cream
						padding: 2px
						width: 40px
						height: 33px
						text-align: center
						&:not(:first-child)
							margin-top: 4px
						&.options_delivery
							font-size: 0
							p
								white-space: pre-wrap
						&.options_installment h4
							font-size: 6px
						h4
							font-size: 8px
							text-transform: lowercase
						svg, img
							width: 17px
						p
							white-space: nowrap
							font-size: 6px
							font-weight: bold
							span
								&.amount
									font-size: 8px
								&.unit
									font-size: 5px
			.text
				font-family: 'Montserrat', sans-serif
				.articul
					font-size: 10px
					font-family: 'Open Sans', sans-serif
				h3
					font-size: 16px
				.price
					.old
						font-size: 12px
						color: $grey
						text-decoration: line-through
					.current
						font-size: 12px
						strong
							font-size: 16px
					.discount
						font-size: 9px
						strong
							font-weight: bold
							color: $red
				.buy
					width: 70%
					margin: 14px auto 0
					display: block
					padding: 12px 0
					font-weight: bold
					font-size: 12px
					border-radius: 120px
					transition: all 0.2s linear
					color: $red
					border: 1px solid $red
					&:hover
						background-color: $red
						color: $w
section.blogs
	margin-top: 110px
